:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  --bgNotification: #00aeff;
  --white: #fff;
  --title: #181818;
  --text: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  background: var(--bgSite);
  font-family: "Montserrat", sans-serif;
}

.notification {
  height: 60px;
  width: 100%;
  background: var(--bgNotification);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--title);
}

.notification span {
  padding: 20px;
}

.jordanTitle {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
}

.header-bg {
  height: 370px;
  width: 100%;
  object-fit: cover;
  background: url("./img/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  max-width: 737px;
}

.conteudo h1 {
  color: var(--white);
  font-size: 3rem;
  margin-bottom: 26px;
  line-height: 58px;
  font-weight: 600;
}

.conteudo p {
  font-size: 1.5rem;
  line-height: 39px;
  color: var(--white);
  font-weight: 500;
}

.main-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 65px;
}

.main-conteudo h2 {
  font-size: 2rem;
  margin-bottom: 18px;
  font-weight: 600;
  color: var(--title);
}

.main-conteudo span {
  font-weight: 500;
  line-height: 25px;
  font-size: 1.25rem;
  color: var(--text);
}

.container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
}

.container-list li {
  background: var(--bgCard);
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.container-list li:hover {
  transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: show-down 0.6s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.lightbox-content img {
  width: 600px;
  object-fit: cover;
}

.lightbox a {
  position: absolute;
  top: 50px;
  right: 50px;
  background: var(--title);
  color: var(--white);
  font-size: 2rem;
  border: 1px solid var(--white);
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.lightbox a:hover {
  color: var(--title);
  background: var(--white);
}

footer {
  height: 60px;
  width: 100%;
  background: var(--bgNotification);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--title);
  font-size: 1.125rem;
}

@media (max-width: 750px) {
  .jordanTitle {
    font-size: 1.5rem;
  }

  .conteudo {
    padding-left: 50px;
    max-width: 500px;
  }

  .conteudo h1 {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 18px;
    font-weight: 600;
  }

  .conteudo p {
    font-size: 1.125rem;
    line-height: 28px;
  }

  .main-conteudo {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .main-conteudo h2 {
    font-size: 1.5rem;
    margin-bottom: 14px;
  }

  .main-conteudo span {
    line-height: 25px;
    font-size: 1.125rem;
    padding: 10px;
  }

  .container-list {
    margin-bottom: 50px;
  }

  .container-list li {
    width: 300px;
    border-radius: 5px;
  }

  .container-list li:hover {
    transform: scale(1.1);
  }

  .lightbox-content img {
    width: 400px;
    object-fit: cover;
  }

  .lightbox a {
    top: 30px;
    right: 30px;
    font-size: 2rem;
    padding: 5px;
  }

  footer {
    font-size: 1.125rem;
  }
}

@media (max-width: 450px) {
  .jordanTitle {
    font-size: 1rem;
  }

  .conteudo {
    padding-left: 30px;
    max-width: 300px;
  }

  .conteudo h1 {
    font-size: 1.5rem;
    margin-bottom: 14px;
    line-height: 30px;
  }

  .conteudo p {
    font-size: 1rem;
    line-height: 24px;
  }

  .main-conteudo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main-conteudo h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .main-conteudo span {
    font-size: .875rem;
    padding: 10px;
    line-height: 18px;
  }

  .container-list {
    margin-bottom: 30px;
  }

  .container-list li {
    width: 300px;
    border-radius: 5px;
  }

  .container-list li:hover {
    transform: scale(1.1);
  }

  .lightbox-content img {
    width: 400px;
    object-fit: cover;
  }

  .lightbox a {
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    padding: 5px;
  }

  footer {
    font-size: 1.125rem;
  }
}
